$text-color: #333;
$light-text-color: #998;

.blog {
  .date {
    color: $light-text-color;
    font-weight: 600;
  }

  .title {
    color: $text-color;
    font-weight: 700;
    font-size: 4em;
    line-height: 1.2;
    margin-top: 0.2em;
  }

  .tags {
    margin-top: 1em;

    .tag {
      color: $text-color;
      font-weight: 600;
      font-size: 0.8em;
      margin-right: 0.5em;
      text-transform: uppercase;
    }
  }

  .article {
    margin-top: 3em;

    h1 {
      font-weight: 600;
      font-size: 3em;
      line-height: 1.2;
      margin-bottom: 0.2em;
    }

    h2 {
      font-weight: 600;
      font-size: 2.5em;
      line-height: 1.2;
      margin-bottom: 0.2em;
    }

    h3 {
      font-weight: 600;
      font-size: 2em;
      line-height: 1.2;
      margin-bottom: 0.2em;
    }

    img {
      max-width: 800px;
      display: block;
      margin: 2em auto;
    }
  }
}
